.container.services__container  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}
.service {
    background-color: var(--color-bg-variant);
    border: 1px solid var(--color-primary);
    height: fit-content;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    transition: var(--transition);
    cursor: default;
}
.service:hover {
    background-color: transparent;
    border-color: var(--color-primary-variant);
}
.service-name {
    background-color: var(--color-primary);
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-bg);
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.feature {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
}
.feature p {
    font-size: 0.9rem;
}
.service__icon {
    margin-top: 0.3rem;
}

@media screen and (max-width: 1024px) {
    .container.services__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    
    .service {
        height: auto;
        /* This is important to make all the ribbons be of the same
        height (and if one of them is short it extends so that it 
        approaches to the height of it's siblings) */
    }
}
@media screen and (max-width: 600px) {
    .container.services__container {
        grid-template-columns: 1fr;
        gap: 1.8rem;
    }
    #services {
        margin-bottom: 90rem;
    }
}



